# Normalize line endings to LF on checkout
* text=auto

# Denote all files that are truly binary and should not be modified
*.png binary
*.jpg binary

# Use Git LFS for large files
*.psd filter=lfs diff=lfs merge=lfs -text

# Custom merge behavior for config files
database.xml merge=ours


